[submodule "libb64"]
	path = libb64
	url = https://github.com/cyvasse-online/libb64.git
[submodule "cyvasse-common"]
	path = cyvasse-common
	url = https://github.com/cyvasse-online/cyvasse-common.git
